<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard - Digital Time Capsule</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/details.css" />
</head>
<body>
 <header class="auth-header">
  <nav class="auth-nav">
    <div class="logo">Time Capsule</div>

    <div class="hamburger" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" id="navLinks">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/capsules/create">Create Capsule</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>
<script src="/js/script.js"></script>

